<Configuration Product="AccessRT">
        <Display Level="none" CompletionNotice="no" SuppressModal="yes" AcceptEula="yes" />
        <Logging Type="standard" Path="C:\Windows\Temp" Template="Runtime_Setup(*).log" />
        <COMPANYNAME Value="Blueyonder" />
        <Setting Id="SETUP_REBOOT" Value="Never" />
         <INSTALLLOCATION Value="{{ ACCESS_RUNTIME_INSTALLATION_DIR }}" />
</Configuration>